MAIL_DOMAIN=example.com
MAIL_MX_DOMAIN=mail.$MAIL_DOMAIN
MAIL_DKIM_SELECTOR=mail
MAIL_POSTMASTER=postmaster@$MAIL_DOMAIN

VIMBADMIN_DOMAIN=vimbadmin.$MAIL_DOMAIN
VIMBADMIN_SUPERUSER=admin@$MAIL_DOMAIN

# Rememberme and password salts should be long random string
# It's recommended you leave them as %AUTOGEN_SALT% which wil
# be automatically replaced by a secure string
# You can set the superuser password here, otherwise one will be generated
VIMBADMIN_SUPERUSER_PASSWORD=%AUTOGEN_PASSWORD%
VIMBADMIN_REMEMBERME_SALT=%AUTOGEN_SALT%
VIMBADMIN_PASSWORD_SALT=%AUTOGEN_SALT%

ROUNDCUBE_DOMAIN=webmail.$MAIL_DOMAIN